.display-mode-continuer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 20px 0 0;
}

.display-mode-continuer p {
  margin: 0;
  padding: 0;
}

.display-mode {
  display: flex;
  align-items: center;
}

.display-mode img {
  width: 30px;
  padding-left: 10px;
}

.switch {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  border-radius: 50%;

  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX((26px));
}
